## <font color='blue'>**Estadística Descriptiva con la Base de Datos Iris**</font>

In [ ]:
import pandas as pd
import numpy as np

from pandas import DataFrame
from sklearn.datasets import load_iris   

iris_obj = load_iris()

In [ ]:
iris_obj #Viendo como es el conjunto de datos

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'frame': None,
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'iris.csv',
 'data_module': 'sklearn.datasets.data'}

## <font color='green'>Actividad 1</font>

Basado en la estructura del objeto **iris_obj**, convierta este en un dataframe.

In [ ]:
#Solución
data1 = pd.DataFrame(np.c_[iris_obj['data'], iris_obj['target']],
                     columns= iris_obj['feature_names'] + ['target'])
data1 #Cargando el conjunto de datos como un Data Frame de pandas

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0.0
1,4.9,3.0,1.4,0.2,0.0
2,4.7,3.2,1.3,0.2,0.0
3,4.6,3.1,1.5,0.2,0.0
4,5.0,3.6,1.4,0.2,0.0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2.0
146,6.3,2.5,5.0,1.9,2.0
147,6.5,3.0,5.2,2.0,2.0
148,6.2,3.4,5.4,2.3,2.0
149,5.9,3.0,5.1,1.8,2.0

<font color='green'>Fin Actividad 1</font>

## <font color='green'>Actividad 2</font>

1. Reemplace los valores de la columna "species" por los siguientes valores:
  * "setosa" = 0
  * "versicolor" = 1
  * "virginica" = 2

2. Agrupe las muestras por especies
3. Sin usar el método **describe()**, calcule los estadísticos básicos de la muestra:
  * cantidad de elementos no nulos
  * media
  * varianza
  * Desviación estándar
  * Percentiles y cuartiles
  * Rango inter-cuartílico
  * Valores máximos y mínimos
  * Rango (diferencia entre el máximo y el mínimo)
4. Repita algunos de los análisis anteriores, pero muestre sus resultados por columnas y especies.
5. Compare sus resultados usando el metodo **describe()** por columnas y por especies
6. Generar una tabla multi-indice por "especies" y "ancho del pétalo" y que de cuenta de la suma de los valores de cada clase

In [ ]:
# Solución[]

#1 Cambiar los valores de target
data1.loc[data1.target == 0, 'target']='setosa'
data1.loc[data1.target == 1, 'target']='versicolor'
data1.loc[data1.target == 2, 'target']='virginica'

In [ ]:
#2 agrupacion por especie para generar medias
media = data1.groupby(by = 'target').mean()
media

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
setosa,5.006,3.428,1.462,0.246
versicolor,5.936,2.770,4.260,1.326
virginica,6.588,2.974,5.552,2.026

In [ ]:
#3 cuantos valores validos hay
nulos = data1.isnull()
nulos.value_counts() #Cuenta los falsos como validos

sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  target
False              False             False              False             False     150
dtype: int64

In [ ]:
#4 cuartiles por especie
data1.groupby(by = 'target').quantile([0.25, 0.5, 0.75])

                 sepal length (cm)  ...  petal width (cm)
target                              ...
setosa     0.25              4.800  ...               0.2
           0.50              5.000  ...               0.2
           0.75              5.200  ...               0.3
versicolor 0.25              5.600  ...               1.2
           0.50              5.900  ...               1.3
           0.75              6.300  ...               1.5
virginica  0.25              6.225  ...               1.8
           0.50              6.500  ...               2.0
           0.75              6.900  ...               2.3

[9 rows x 4 columns]

In [ ]:
#4 deciles por especie
data1.groupby(by = 'target').quantile([0.1, 0.2, 0.3, 0.4, 0.5,0.6, 0.7, 0.8, 0.9])

                sepal length (cm)  ...  petal width (cm)
target                             ...
setosa     0.1               4.59  ...              0.19
           0.2               4.70  ...              0.20
           0.3               4.80  ...              0.20
           0.4               4.96  ...              0.20
           0.5               5.00  ...              0.20
           0.6               5.10  ...              0.20
           0.7               5.10  ...              0.30
           0.8               5.32  ...              0.30
           0.9               5.41  ...              0.40
versicolor 0.1               5.38  ...              1.00
           0.2               5.50  ...              1.18
           0.3               5.60  ...              1.27
           0.4               5.70  ...              1.30
           0.5               5.90  ...              1.30
           0.6               6.04  ...              1.40
           0.7               6.20  ...              1.43
           0.8               6.40  ...              1.50
           0.9               6.70  ...              1.51
virginica  0.1               5.80  ...              1.79
           0.2               6.10  ...              1.80
           0.3               6.30  ...              1.80
           0.4               6.40  ...              1.90
           0.5               6.50  ...              2.00
           0.6               6.70  ...              2.10
           0.7               6.83  ...              2.20
           0.8               7.20  ...              2.30
           0.9               7.61  ...              2.40

[27 rows x 4 columns]

In [ ]:
#4 Rango intercuartil
data1.groupby(by = 'target').quantile(0.75)-data1.groupby(by = 'target').quantile(0.25)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
setosa,0.400,0.475,0.175,0.1
versicolor,0.700,0.475,0.600,0.3
virginica,0.675,0.375,0.775,0.5

In [ ]:
#4 minimo por especie
data1.groupby(by = 'target').min()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
setosa,4.3,2.3,1.0,0.1
versicolor,4.9,2.0,3.0,1.0
virginica,4.9,2.2,4.5,1.4

In [ ]:
#4 maximo por especie
data1.groupby(by = 'target').max()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
target,,,,
setosa,5.8,4.4,1.9,0.6
versicolor,7.0,3.4,5.1,1.8
virginica,7.9,3.8,6.9,2.5

In [ ]:
#4 Rango por especie
data1.groupby(by = 'target').max()-data1.groupby(by = 'target').min()

            sepal length (cm)  ...  petal width (cm)
target                         ...
setosa                    1.5  ...               0.5
versicolor                2.1  ...               0.8
virginica                 3.0  ...               1.1

[3 rows x 4 columns]

In [ ]:
#5 describe() por especie
data1.groupby(by = 'target').describe()

           sepal length (cm)                        ... petal width (cm)
                       count   mean       std  min  ...              25%  50%  75%  max
target                                              ...
setosa                  50.0  5.006  0.352490  4.3  ...              0.2  0.2  0.3  0.6
versicolor              50.0  5.936  0.516171  4.9  ...              1.2  1.3  1.5  1.8
virginica               50.0  6.588  0.635880  4.9  ...              1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [ ]:
#6 Generar una tabla multi-indice por "especies" y "ancho del pétalo" y que de cuenta de la suma de los valores de cada clase
data1.groupby(by =['target','petal width (cm)']).sum()

                             sepal length (cm)  sepal width (cm)  \
target     petal width (cm)
setosa     0.1                            24.1              16.8
           0.2                           144.2              98.0
           0.3                            34.8              23.3
           0.4                            37.1              26.5
           0.5                             5.1               3.3
           0.6                             5.0               3.5
versicolor 1.0                            37.9              16.6
           1.1                            16.2               7.4
           1.2                            28.9              13.7
           1.3                            76.5              35.7
           1.4                            44.5              20.7
           1.5                            61.9              28.8
           1.6                            18.3               9.4
           1.7                             6.7               3.0
           1.8                             5.9               3.2
virginica  1.4                             6.1               2.6
           1.5                            12.3               5.0
           1.6                             7.2               3.0
           1.7                             4.9               2.5
           1.8                            70.9              32.1
           1.9                            31.7              13.4
           2.0                            39.9              18.1
           2.1                            41.5              18.2
           2.2                            20.6               9.6
           2.3                            55.3              24.7
           2.4                            18.8               9.3
           2.5                            20.2              10.2

                             petal length (cm)
target     petal width (cm)
setosa     0.1                             6.9
           0.2                            41.9
           0.3                            10.0
           0.4                            11.0
           0.5                             1.7
           0.6                             1.6
versicolor 1.0                            25.4
           1.1                            10.7
           1.2                            21.2
           1.3                            54.3
           1.4                            31.5
           1.5                            45.8
           1.6                            14.3
           1.7                             5.0
           1.8                             4.8
virginica  1.4                             5.6
           1.5                            10.1
           1.6                             5.8
           1.7                             4.5
           1.8                            59.2
           1.9                            26.6
           2.0                            33.3
           2.1                            34.7
           2.2                            18.1
           2.3                            45.6
           2.4                            16.3
           2.5                            17.8

<font color='green'>Fin Actividad 2</font>

## <font color='blue'>**Análisis de Datos con Base de Datos Titanic**</font>

Para este probleme utilizaremos la base de datos "titanic". Para cargarla debe usar los siguientes comandos:

```
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head(5)
```
Considere sólo las siguientes variables: survived, pclass, sex, age, fare y embarked.

## <font color='green'>Actividad 3</font>

1. Reemplace los valores faltantes para la columna edad por el valor promedio de la muestra.
2. Elimine cualquier otra fila en la que falten datos

In [ ]:
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head(5)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
# Solución
datos2 = titanic[['survived', 'pclass', 'sex', 'age', 'fare', 'embarked']] #Tabla con las variables a utilizar
datos2.head()

   survived  pclass     sex   age     fare embarked
0         0       3    male  22.0   7.2500        S
1         1       1  female  38.0  71.2833        C
2         1       3  female  26.0   7.9250        S
3         1       1  female  35.0  53.1000        S
4         0       3    male  35.0   8.0500        S

In [ ]:
datos2.age = datos2.age.fillna(datos2.age.mean()) #imputacion de promedio de edad
nulos = datos2.isnull()
nulos.value_counts()

survived  pclass  sex    age    fare   embarked
False     False   False  False  False  False       889
dtype: int64

In [ ]:
datos2 = datos2.dropna()

<font color='green'>Fin Actividad 3</font>

## <font color='green'>Actividad 4</font>

1. Entregar la información correspondiente a la la tasa de supervivencia promedio agrupada por sexo y clase del pasajero.
2. Genere una tabla que muestre la cantidad de personas agrupadas por sexo y clase.
3. Muestre la misma información del punto 1, pero la cantidad de sobrevivientes.

In [ ]:
# Solución
# Supervivencia promedio por sexo y clase
datos2.groupby(by = ['sex', 'pclass'])['survived'].mean() #Las mujeres de las clases superiores sobreviven mucho más que los hombres, además los hombres de primera clase sobrevivieron más que los hombres de clases inferiores

sex     pclass
female  1         0.967391
        2         0.921053
        3         0.500000
male    1         0.368852
        2         0.157407
        3         0.135447
Name: survived, dtype: float64

In [ ]:
#cantidad de personas agrupadas por sexo y clase
datos2.groupby(by = ['sex', 'pclass'])['sex'].count() #La cantidad de mujeres era inferior a la de hombres en todas las clases

sex     pclass
female  1          92
        2          76
        3         144
male    1         122
        2         108
        3         347
Name: sex, dtype: int64

In [ ]:
# Supervivencia neta por sexo y clase
vivieron = datos2.where(datos2['survived']==1)
vivieron.groupby(by = ['sex', 'pclass'])['survived'].count() #No solo la tasa de supervivencia femenina es mayor sino que además sobrevivieron más mujeres que hombres en todas las clases

sex     pclass
female  1.0       89
        2.0       70
        3.0       72
male    1.0       45
        2.0       17
        3.0       47
Name: survived, dtype: int64

Hasta ahora hemos examinado las tasas de supervivencia según el sexo y la clase de pasajeros. Otro factor que podría haber influido en la supervivencia es la edad. **¿Los niños varones tenían tanta probabilidad de morir como las mujeres en general?** Podemos investigar esta pregunta mediante la indexación múltiple, o pivotando en más de dos variables, agregando otro índice.

Divida la información de la columna "age" en intervalos, creando así una nueva categoría que se puede utilizar para agrupar. Divida el conjunto en intervalos de (0, 12], (12, 18] y (18, 80].

4. Genere la tabla que le ayude a responder la pregunta anterior (considerando los rangos definidos).
5. Para una mejor interpretación de la información anterior, genere una tabla con el número de entradas por cada grupo.

In [ ]:
conditionlist = [
    (datos2['age'] > 18) ,
    (datos2['age'] > 12) & (datos2['age'] <=18),
    (datos2['age'] <= 12)]
choicelist = ['18-80', '12-18','0-12']
datos2['edad'] = np.select(conditionlist, choicelist, default='Not Specified')

In [ ]:
# Solución
tabla1 = datos2.pivot_table(index = 'edad', columns = 'sex', values = 'survived')  #Nños y niñas de 0-12 tienen una supervivencia similar, en el resto de los grupos etarios las mujeres sobreviven mucho más
tabla1

sex      female      male
edad
0-12   0.593750  0.567568
12-18  0.750000  0.088235
18-80  0.758197  0.167984

In [ ]:
vivieron = datos2.where(datos2['survived']==1)
tabla2 = vivieron.pivot_table(index = 'edad', columns = 'sex', values = 'survived', aggfunc='count') #La cantidad de supervivientes es mayor en el rango de 18 a 80 tanto para hombres como para mujeres
tabla2 # pero esto se debe a que la mayor parte de los pasajeros correspondían a este rango eterio

sex    female  male
edad
0-12       19    21
12-18      27     3
18-80     185    85

Pandas también admite la indexación múltiple en las columnas. Como ejemplo, considere el precio de los boletos de un pasajero. Esta es otra característica continua que se puede discretizar. Divida los precios en 2 cuantiles iguales (baratos y caros). Algunos de los grupos resultantes podrían estar vacíos; para mejorar la legibilidad de la tabla use un guión en las casillas vacías.

6. Genere una tabla que nos permita ver el efecto del precio de los tickets.

In [ ]:
# Solución
conditionlist = [
    (datos2['fare'] < datos2['fare'].quantile(0.5)) ,
    (datos2['fare'] > datos2['fare'].quantile(0.5))]
choicelist = ['Baratos', 'Caros']
datos2['tipoPrecio'] = np.select(conditionlist, choicelist, default='-')

In [ ]:
tabla3 = datos2.pivot_table(index = 'tipoPrecio', columns = 'sex', values = 'survived') #Los valores en el - son losequivalentes a la mediana
tabla3 # La posibilidad de sobrevivir era levemente mayor tanto para hombres y mujeres si habían comprado un boleto más caro

sex           female      male
tipoPrecio
-           0.200000  0.000000
Baratos     0.685714  0.116418
Caros       0.782178  0.291667

<font color='green'>Fin Actividad 4</font>

## <font color='green'>Actividad 5</font>

### Análisis de una Hipótesis

Supongamos que alguien afirma que la ciudad desde la que se embarcó un pasajero tuvo una gran influencia en la tasa de supervivencia del pasajero. Investigue esta afirmación.

7. Verifique las tasas de supervivencia de los pasajeros según el lugar desde donde se embarcaron (indicadas en la columna "embarked").

8. Cree una tabla dinámica para examinar las tasas de supervivencia según el lugar de embarque y el género.

9. ¿Qué le sugieren estas tablas sobre la importancia de dónde se embarcaron las personas para influir en su tasa de supervivencia? Examine el contexto del problema y explique lo que cree que esto realmente significa.

10. Investigue la afirmación más a fondo con al menos dos tablas dinámicas más, explorando otros criterios (por ejemplo, clase, edad, etc.). Explique cuidadosamente sus conclusiones.

In [ ]:
# Solución
datos2.groupby(by = 'embarked')['survived'].mean() #La superviviancia de quienes embarcaron en C es mayor

embarked
C    0.553571
Q    0.389610
S    0.336957
Name: survived, dtype: float64

In [ ]:
datos2.pivot_table(values='survived', index = 'embarked', columns = 'sex')
#Quienes embarcan en C tienen mayores posibilidades de sobrevivir, tanto para hombres como para mujeres

sex         female      male
embarked
C         0.876712  0.305263
Q         0.750000  0.073171
S         0.689655  0.174603

In [ ]:
datos2.pivot_table(values='survived', index = 'embarked', columns = ['tipoPrecio','sex'], aggfunc = 'count')
#La proporcion de boletos caros es significativamente mayor en C respecto al resto de los lugares de abordaje
#Además también es mayor la proporción de mujeres embarcadas en C y de mujeres que tenián boletos caros

tipoPrecio      -      Baratos         Caros
sex        female male  female   male female   male
embarked
C             5.0  2.0     9.0   36.0   59.0   57.0
Q             NaN  NaN    28.0   29.0    8.0   12.0
S             NaN  NaN    68.0  270.0  135.0  171.0

In [ ]:
datos2.pivot_table(values='survived', index = 'embarked', columns = ['tipoPrecio','edad'], aggfunc = 'count')
# No se observa una proporcion evidentemente mayor de boletos caros para niños
# La influencia que tiene el haber embarcado en C sobre la supervivencia, se debe a la combinación de la influencia que tiene el ser mujer y el haber comprado un boleto caro

tipoPrecio     -       Baratos              Caros
edad       12-18 18-80    0-12 12-18  18-80  0-12 12-18  18-80
embarked
C            3.0   4.0     3.0   6.0   36.0   8.0   8.0  100.0
Q            NaN   NaN     NaN   4.0   53.0   4.0   NaN   16.0
S            NaN   NaN     6.0  29.0  303.0  48.0  20.0  238.0

<font color='green'>Fin Actividad 5</font>